USE [master]
GO
/****** Object:  Database [GuessingGameDB]    Script Date: 12/04/2024 9:27:27 p. m. ******/
CREATE DATABASE [GuessingGameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuessingGameDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GuessingGameDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuessingGameDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GuessingGameDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuessingGameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuessingGameDB]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 12/04/2024 9:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](100) NOT NULL,
	[GuessCount] [int] NOT NULL,
	[TimeTaken] [float] NOT NULL,
	[GameDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (getdate()) FOR [GameDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopPlayers]    Script Date: 12/04/2024 9:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTopPlayers]
AS
BEGIN
    SELECT TOP 5 
        PlayerName,
        GuessCount,
        TimeTaken,
        GameDate
    FROM Players
    WHERE TimeTaken <= 120
    ORDER BY GuessCount ASC, TimeTaken ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveGameResult]    Script Date: 12/04/2024 9:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveGameResult]
    @PlayerName NVARCHAR(100),
    @GuessCount INT,
    @TimeTaken FLOAT
AS
BEGIN
    INSERT INTO Players (PlayerName, GuessCount, TimeTaken)
    VALUES (@PlayerName, @GuessCount, @TimeTaken)
END
GO
USE [master]
GO
